extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/script.js")
block content
    script.
        var login = "#{login}";
    .msgs
    form(action="")#msg-form.row
        #msg-content-wrap.col-xs-9.col-sm-10.col-lg-11: input#msg-content(type="text" autocomplete="off")
        #msg-send-wrap.col-xs-3.col-sm-2.col-lg-1: button#msg-send Отправить