.msgs
  overflow scroll
  .msg
    p
      margin-right 10px
      display inline
#msg-form
  background-color bisque
  padding 10px 10px
  #msg-content
    width 100%
  #msg-send
    width 100%